<form [formGroup]="formPass">
<div class="form-floating mb-2">
    <input type="password" 
           class="form-control" 
           [ngClass]="{'is-invalid':campoNoEsValido('password') || errorPass('password')}" 
           id="password" formControlName="password" placeholder="">
    <label for="password">Nueva Contraseña</label>
    <small>
        <span class="text-secondary d-block">Mínimo 6 caracteres</span>
    </small>
    <small>
        <span *ngIf="campoNoEsValido('password')" 
              type="text" class="text-secondary d-block">Campo obligatorio</span>
        <span *ngIf="errorPass('password')" 
              type="text" class="text-secondary d-block">Debe tener como mínimo 6 caracteres</span>
    </small>
</div>
<div class="form-floating mb-2">
    <input type="password" 
           class="form-control" 
           [ngClass]="{'is-invalid':campoNoEsValido('password2') || errorPass2('password2')}" 
           id="password2" formControlName="password2" placeholder="">
    <label for="password2">Repita la contraseña</label>
    <small>
        <span *ngIf="campoNoEsValido('password2')" 
              type="text" 
              class="text-secondary d-block">Campo obligatorio</span>
        <span *ngIf="errorPass2('password2')" 
              type="text" class="text-secondary d-block">Las contraseñas no son iguales</span>
    </small>
</div>
</form>
