<mat-list>
    <div mat-subheader>OSSSB</div>
    <mat-list-item>
      <mat-icon mat-list-icon>whatsapp</mat-icon>
      <div mat-line><a href="https://wa.me/+5491127610695">
        11-2761-0695</a></div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>URGENCIAS Y EMERGENCIAS</div>
    <mat-list-item>
      <mat-icon mat-list-icon>phone</mat-icon>
      <div mat-line><a href="tel:08005556722">
        0800-555-6722
      </a>
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>phone</mat-icon>
    <div mat-line><a href="tel:08108883226">
      0810-888-3226
    </a>
  </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>SALUD MENTAL</div>
  <mat-list-item>
    <mat-icon mat-list-icon>link</mat-icon>
    <div mat-line><a href="http://turnos.redappsi.com.ar/solicitud_publica/formulario">Formulario APPSI</a></div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>whatsapp</mat-icon>
    <div mat-line><a href="https://wa.me/+5491163744900">11-6374-4900</a></div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>whatsapp</mat-icon>
    <div mat-line><p>Atencion las 24hs</p></div>
    <div mat-line><a href="https://wa.me/+5491122572258">11-2257-2258</a></div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>GUARDIA ODONTOLÓGICA LAS 24 HS S.I.A.C.O</div>
  <mat-list-item>
    <mat-icon mat-list-icon>phone</mat-icon>
    <div mat-line><a href="tel:52523400">
      5252-3400
    </a>
  </div>
</mat-list-item>
<mat-list-item>
  <mat-icon mat-list-icon>location_on</mat-icon>
  <div mat-line><p>
    Sarmiento 746 - CABA
  </p>
</div>
</mat-list-item>
</mat-list>