.s300-credencial {
    max-width: 340px;
}
.logoNegativo{
    position: absolute;
    height: 250px;
    width: 250px;
    z-index: -100;
}
.floritura1 {
    background-image: url('../../../../assets/img/florituras.png');
    background-position: right bottom;
    height: 400px;
    width: 400px;
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
}
.floritura2{
    background-image: url('../../../../assets/img/florituras.png');
    background-position: left top;
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -100;
}
.btn-descarga {
    border: none;
    background-color: transparent;
    color: #daebf2;
}
.btn-descarga:hover{
    color: #f5f5f5;
}
.btn-descarga:active{
    color: #88cde9;
}
@media (max-width: 768px) {

.floritura1 {
    height: 400px;
    width: 200px;
    top: 0;
    left: 0;
}

.floritura2{
    height: 400px;
    width: 200px;
    bottom: 0;
    right: 0;
}
}
